{% extends 'layout/base.html' %}
{% load static %}
{% load humanize%}

{% block content %}
<div>
  <main role="main" class="container clear">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          {{post.category}}
        </h3>

        <div class="blog-post">
          <h2 class="blog-post-title">{{post.title|title}}</h2>
          <p class="blog-post-meta">January 1, 2014 by <a href="#">{{post.author.first_name}}</a></p>

          <!-- Post Content Start -->

          {{post.content|safe}}
          <!-- Blog post ending -->
        </div><!-- /.blog-post -->
        <br>
        <hr>
        <!-- Recommended posts -->
        <div class="blog-post">
          <h2 class="blog-post-title">Another blog post</h2>
          <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

          <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus.
            Aenean
            eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at
            lobortis. Cras mattis consectetur purus sit amet fermentum.</p>

        </div><!-- /.blog-post -->



        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="#">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
        </nav>

      </div><!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">Umwanditsi</h4>
          <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit
            amet
            fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>

        <div class="p-3">
          <h4 class="font-italic">Categories</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">Ubuzima</a></li>
            <li><a href="#">Ubukungu</a></li>
            <li><a href="#">January 2014</a></li>
          </ol>
        </div>

        <div class="p-3">
          <h4 class="font-italic">Share this story</h4>
          <ol class="list-unstyled">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">WhatsApp</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->

  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  {% endblock content %}