{% extends "layout/base.html" %}


{% block title %}
Isaniro| Blog

{% endblock title %}
{% block style %}
<style>
    .thumbnail {
        height: 250px !important;
        width: 200px !important;
    }

    .bold {
        font-weight: bold;
    }

    .thumb {
        width: 150px;
        height: 100px;
    }
</style>

{% endblock style %}

{% block content %}



<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic capitalise">{{featured.title}}</h1>
        <p class="lead my-3">{{featured.summary|safe}}</p>
        <p class="lead mb-0"><a href="{{feature.get_absolute_url}}" class="text-primary font-weight-bold">Komeza
                Usome</a>
        </p>
    </div>
</div>

<div class="row mb-2">
    {% for post in posts %}


    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary capitalize">{{post.category|title}}</strong>
                <h3 class="mb-0 capitalise">
                    <a class="text-dark" href="{{post.get_absolute_url}}">{{post.title}}</a>
                </h3>
                <div class="mb-1 text-muted">{{post.published_date}}</div>
                <p class="card-text mb-auto">{{post.summary|safe|truncatechars:100}}</p>
                <a href="{{post.get_absolute_url}}">Komeza usome</a>
            </div>

            {% if post.thumbnail %}



            <img class="card-img-right flex-auto d-none d-md-block thumbnail" src="{{post.thumbnail.url}}" width="200px"
                height="250px" alt="{{post.title}} image">
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
</div>


<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content three_quarter first">

            <div id="comments">
                <h2>Inkuru</h2>

                {% for post in posts%}
                <div class="row mb-1">
                    <div class="col-md-3">
                        <figure><img src="{{post.thumbnail.url}}" class="thumb thumb-link" alt="">
                        </figure>

                    </div>
                    <div class="col-md-9 pt-2">
                        <address><a href="{{post.get_absolute_url}}">
                                {{post.title}}</a>
                        </address>
                        <time
                            datetime="2045-04-06T08:15+00:00"><strong>Yanditswe&nbsp;</strong>{{post.published_date}}</time>
                        <div class="comcont">
                            <p>{{post.summary|safe|truncatechars:50}}</p>
                        </div>
                    </div>
                </div>

                {% endfor%}


            </div>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="sidebar one_quarter">
            <!-- ################################################################################################ -->
            <h6>Izikunzwe</h6>
            <nav class="sdb_holder">
                <ul>
                    {% for post in posts %}


                    <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
                    {% endfor %}

                </ul>
            </nav>
            <div class="sdb_holder">
                <h6>Popular categories</h6>
                <ul>
                    {% for cat in categories %}
                    <li class="text-secondary bold"><a href="{{cat.get_absolute_url}}"
                            class="category-link">{{cat.title|title}}</a></li>
                    {% endfor %}

                </ul>

            </div>

            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->

    </main>
</div>

{% endblock content %}