{% extends "layout/base.html" %}
{% load static %}
{% load humanize%}

{% block style %}
<style>
    .empty-div {
        padding: 3rem 2rem;
        text-align: center;
        font-family: var(--Lexend);
        margin: 3rem;
        box-shadow: 2px 2px 2px 2px grey;
    }

    .button-group {
        display: flex;
        justify-content: center;
        padding: 2rem;
        width: fit-content;
    }

    .button-group .btn {
        margin: 1rem 2rem;
        padding: 1rem 2rem;
        border-radius: 30px;
    }

    .btn-outline {
        border: 2px solid black;
        background-color: rgba(68, 68, 68, 0.247);
        color: black;
        transition: .3s all;
    }

    .btn-outline:hover {
        background-color: rgba(243, 243, 243, 0.473);

    }
</style>
{% endblock style %}

{% block content %}

<main>

    <section class="container">
        <div class="site-content">
            <div class="posts">
                {% for post in posts %}


                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="{{post.thumbnail.url}}" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14, 2019</span>
                            <span>2 Commets</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        <p>{{post.summary|safe}}
                        </p>
                        <button class="btn post-btn post-link" data-url="{{post.get_absolute_url}}">Soma &nbsp; <i
                                class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <hr>
                {% empty%}
                <div class="empty-div">
                    <h2>Wihangane ntabwo twabonye ibyo washakishaga</h2>
                    <div class="button-group">
                        <a href="{% url 'blog:blog' %}" class="btn btn-outline btn-blog">Subira kunkuru</a>
                        <a href="#prevented" class="btn btn-primary btn-blog search"
                            data-url="{% url 'blog:search-result'%}">Ongera Ushakishe</a>
                    </div>
                </div>

                {% endfor %}

            </div>
            <aside class="sidebar">
                {% include "layout/cat.html" %}



            </aside>
        </div>
    </section>

    <!-- -----------x---------- Site Content -------------x------------>

</main>
{% endblock content %}