<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>
        Hello dear,
    </h3>


    <p>
        Thank you for your lastest purchase. This is an email confirming your purchase.
        To access your purchased book. You can check your account profile.
    </p>

    <p>
        For quick access, please use the following link:
    </p>


    <div class="btn btn-group">
        <a class="font-bold btn btn-primary" style="background-color: blue; text-decoration: none;" href="{{link}}">Read
            the
            book here</a>
    </div>
    <p>Or copy and paste this url into the browser</p>
    <a href="{{link}}">{{link}}</a>
    <footer>
        Note: Anytime we may change our main domain with prior notice to all our customers. Be sure to keep your book as
        PDF.
        This link will always be valid and is encrypted with your payment information
    </footer>

</body>

</html>