{% extends 'layout/base.html' %}
{% load humanize %}
{% load static %}

{% block style %}
<style>
    .px-4 {
        padding: inherit 4rem !important;
    }

    .w-300 {
        max-width: 300px;
    }

    .h-400 {
        max-height: 400px;
    }

    .contain {
        object-fit: contain;
    }

    .w-full {
        width: 100%;
    }

    .h-full {
        height: 100%;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .card .row {
        padding: 2rem 4rem;
    }

    .col-md-6 {
        width: 50%;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .justify-center {
        justify-content: center;
    }

    .btn {
        padding: .5rem 1rem;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 3px rgba(128, 128, 128, 0.226);
        transition: .3s;
    }

    .btn:hover {
        transition: .3s;
    }

    .title {
        padding-left: 1rem;
        margin: 1rem;
    }

    .text-danger {
        color: red;
    }
</style>
{% endblock style %}

{% block content %}
<div>
    <div class="card">
        <div class="row px-4">
            <div class="col-md-6 info flex-col justify-center">
                <div class="img w-300 h-400">
                    <img class="contain w-full h-full" src="{{book.imgURL}}" alt="">
                </div>
                <h3 class="px-3 my-3 font-bold title">{{book.title}}</h3>

            </div>
            <div class="col-md-6 p-2">
                <p><span>Orders: {{book.orders}}</span></p>
                <p><span>Author: </span> <span>{{book.author.get_full_name}}</span></p>
                <hr>
                <h3>About the book</h3>
                <p>{{book.summary}}</p>
                <div>
                    {% if book.on_discount %}
                    <p>
                        <strike class="text-danger">{{book.price|intcomma}} Rwf</strike>
                        <span><b>{{book.discounted_price| intcomma}}
                                Rwf</b></span>
                    </p>

                    {% else %}
                    <p>Price: {{book.price | intcomma}} Rwf</p>
                    {% endif %}
                </div>


                <div class="button-group">
                    <a class="btn btn-primary" href="{{book.get_cart_url}}">BUY NOW</a>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>From same author</h3>
        </div>
    </div>
</div>

{% endblock content %}