{% extends 'layout/base.html' %}
{% load humanize %}
{% load static %}

{% block style %}
<style>
    .img-div {
        width: 200%;
        max-height: 200px;
        overflow: hidden;
        margin: 5px;
    }

    .img-div img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    }

    .controls button {
        width: fit-content;
        margin: 0px 5px;
        border: none;
        outline: none;
        transition: .3s all;
        font-family: "Lexend";
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .checkout-div {
        width: fit-content;
        margin: auto;

    }

    .checkout-div a {
        background-color: #fff;
        width: fit-content;
    }

    .btn {
        background-color: rgb(16, 41, 73) !important;
        color: white;
        padding: 1rem 2rem;
        border-radius: 5px;
    }

    .btn-danger {
        background-color: red;

    }

    .font-lexend {
        font-family: 'Lexend';
    }

    .py-4 {
        padding: 0rem 2rem;
    }

    .text-center {
        text-align: center;
    }

    .btn-div {
        margin-top: 1.5rem;
    }

    .col-md-3 {
        width: 33%;
    }

    .item-div {
        box-shadow: 0px 0px 3px 3px rgba(0, 128, 0, 0.219);
        padding: 1rem;
        border-radius: 5px;
    }

    .remind-signup {
        max-width: 500px;
        margin: auto;
    }

    .remind-signup p {
        font-size: small;
        text-align: justify;
    }
</style>
{% endblock style %}

{% block content %}
<div class="py-4">
    <div class="flex-col">
        <div class="">
            <h3 class="font-lexend text-center font-bold mt-3 pt-3">Shorping Cart</h3>
        </div>
        <hr>


        <ul class="flex-col">
            {% for item in items %}
            <li class="flex-row w-full item-div">
                <div class="img-div col-md-3 w-full h-full">
                    <img src="{{item.product.imgURL}}" class="w-full h-full" alt="{{item.product.title}}" />
                </div>
                <div class="col-md-3 font-lexend align-items-center d-flex justify-content-center font-bold">
                    <a href="{{item.product.get_absolute_url}}">{{item.product.title}} </a>
                    <p>{{item.product.summary}}</p>
                </div>
                <div
                    class="col-md-3 h-100 d-flex justify-content-center underline text-center align-items-center font-lexend font-bold">

                    {% if item.product.on_discount %}
                    <p>
                        <strike class="text-danger">{{item.product.price|intcomma}}</strike>
                        <span><b>{{item.product.discounted_price| intcomma}}
                                Rwf</b></span>
                    </p>
                    {% else %}
                    <p>Price: {{item.product.price | intcomma}} Rwf</p>
                    {% endif %}

                </div>
            </li>
            <hr>
            {% empty%}
            <li class="row align-content-center justify-content-center text-center py-2">

                <div class="col-md-12">
                    <h3 class="font-lexend">Your cart is empty...</h3>
                    <div class="btn-group p2" style="margin-top: 2rem;">
                        <a href="{% url 'books-list'%}"
                            class="btn btn-primary font-bold font-lexend bg-secondary">Continue Shopping</a>
                    </div>


                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>

    {% if items|length > 0 %}

    <div class="flex-col">
        <div class="flex-col">
            <h3 class="font-lexend font-bold text-center">Order summary</h3>
            <hr>
            <div class="checkout-div">
                <h3 class="font-lexend"><span>Total items: <b class="font-lexend font-bold">{{cart_quantity}}</b></span>
                </h3>
                <h3 class="font-lexend">
                    <span>Subtotal:</span>

                    <b class="font-lexend font-bold">{{cart_total|intcomma}}</b> Rwf
                </h3>

                {% if not request.user.is_authenticated %}


                {% include 'includes/remind-loggin.html' %}
                {% endif %}
                <div class="btn-div">
                    <a href="{% url 'checkout-view'%}" id="checkout-button"
                        class="btn btn-danger font-lexend bg-danger">
                        Proceed to checkout
                    </a>
                </div>

            </div>
        </div>

    </div>

    <br>
    <br>
    {% endif %}
</div>

{% endblock content %}