<div class="remind-signup">
    <h5>You are not logged in into our website.</h5>
    <p>Creating an account gives you the freedom to store your purchases on your account. </p>
    <p>You can still process your purchase without account. Be reminded that, the link that will be sent
        to your
        email give you access. In case you lose it, there is no way we can verify your purchases.</p>
    <div class="button-group">
        <a href="{% url 'account_login'%}?next={% url 'checkout-view'%}">Login here</a>
    </div>
    <h4>OR</h4>
</div>