{% extends 'layout/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load imagefit %}

{% block content %}


<main>

    <!------------------------ Site Title ---------------------->

    <!------------x----------- Site Title ----------x----------->

    <!-- --------------------- Blog Carousel ----------------- -->
    <section>
        <div class="blog" id="blog-posts">
            <div class="container">
                <div class="owl-carousel owl-theme blog-post">
                    {% for post in posts %}


                    <!-- Blog Post -->
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="{{post.get_image|media_resize:'image-square'}}" alt="post-1" class="image-contain">
                        <div class="blog-title">
                            <h3>{{post.title}}</h3>
                            <button class="btn btn-blog post-link" data-url="{{post.get_absolute_url}}">Soma</button>
                            <span>{% get_hit_count for post %} Views</span>
                        </div>
                    </div>

                    <!-- End post -->
                    {% endfor %}
                </div>
                <div class="owl-navigation">
                    <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                    <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </div>
        </div>
    </section>

    <!-- ----------x---------- Blog Carousel --------x-------- -->

    <!-- ---------------------- Site Content -------------------------->


    <section class="container" id="post-lists">
        <div class="site-content">
            <div class="posts">
                {% for post in posts %}
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="{{post.get_image|media_resize:'image-wide'}}" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{post.author.name}}</span>
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{post.published_date|date:"d
                                M Y"}}</span>
                            <span>{% get_hit_count for post %} Views</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        <p>{{post.summary|safe}}
                        </p>
                        <button class="btn post-btn post-link" data-url="{{post.get_absolute_url}}">Soma &nbsp; <i
                                class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <hr>
                {% endfor %}

            </div>
            <aside class="sidebar">
                {% include "layout/cat.html" %}
                <div class="popular-post">
                    <h2>Popular Post</h2>
                    {% for post in posts %}
                    <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="{{post.get_image|media_resize:'image-square'}}" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i
                                        class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{post.published_date|date:"d
                                    M Y"}}</span>
                                <span>{% get_hit_count for post %}</span>
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
                    <h2>Newsletter</h2>
                    <div class="form-element">
                        <input type="text" class="input-element" placeholder="Email">
                        <button class="btn form-btn disabled">Subscribe</button>
                    </div>
                </div>
                {% include "layout/tag.html" %}
            </aside>
        </div>
    </section>

    <!-- -----------x---------- Site Content -------------x------------>

</main>

<!---------------x------------- Main Site Section ---------------x-------------->

{% endblock content %}
<!-- --------------------------- Footer ---------------------------------------- -->