{% extends 'layout/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load humanize%}
{% load social_share %}

{% block title %}
{{post.title}}

{% endblock title %}

{% block header %}
<!-- Facebook tags -->
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:title" content="{{post.title}}" />
<meta property="og:image" content="https://isaniro.com{{post.thumbnail.url}}" />
<meta property="og:image:alt" content="{{post.title|truncatechars:30}}" />
<!-- End of Facebook tags -->

<!-- Twitter tags -->
<meta name="twitter:image" content="https://isaniro.com{{post.thumbnail.url}}" />
<meta property="twitter:image:alt" content="{{post.title|truncatechars:20}}" />
<meta name="twitter:card" content="{{post.summary|safe|truncatechars:150}}" />
<meta name="twitter:site" content="@feytonf" />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&family=Lato&display=swap');

    .rendered-content p {
        font-family: 'Abel' !important;
        font-size: 1.2rem;
        color: black;
    }

    .rendered-content h3 {
        font-family: 'Bai Jamjuree' !important;
        font-weight: 500;
    }

    .loader-div {
        padding: 2rem;
        margin: 1rem auto;
        text-align: center;

    }

    .loader-div i {
        font-size: 3rem;
    }
</style>

{% endblock header %}

{% block content %}


<main>

    <!-- ---------------------- Site Content -------------------------->

    <section class="container">
        <div class="site-content">
            <div class="posts">
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                            <img src="{{post.thumbnail.url}}" class="img" alt="blog1">
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;{{post.author.name}}</span>
                            <span><i
                                    class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{post.published_date}}</span>
                            <span id="post-views" class="post-views">{% get_hit_count for post %} Views</span>
                            <span><i class="far fa-thumbs-up text-gray"></i>&nbsp;<b
                                    class="post-likes">{{post.likes}}</b></span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#post">{{post.title}}</a>
                        <div class="rendered-content" style="font-family: 'Abel';">
                            {{post.content|safe}}
                        </div>
                        <div class="like-button center">

                            <button class="btn btn-like require-login" data-post="{{post.pk}}" id="post-like-button"
                                data-url="{% url 'blog:add-post-like' pk=post.pk %}"><i
                                    class="far fa-thumbs-up fa-lg"></i></button>
                        </div>

                    </div>
                </div>
                <hr>
                <!-- <div class="author">
                    <div class="image"><img src="" alt=""></div>
                </div> -->

                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">

                    <div class="comment section">
                        <h2 class="">Ibitekerezo</h2>
                        <form action="#https://google.com" method="POST" class="comment-form"
                            data-link="{% url 'blog:add-comment' pk=post.pk %}">
                            {% csrf_token %}
                            <input type="text" placeholder="Amazina" name="name" required minlength="5"
                                title="Izina rigizwe ninyuguti byibura 5" id="comment-name">
                            <input type="email" name="email" placeholder="E-mail" required
                                title="Andika email ikora neza" id="comment-email">
                            <textarea name="body" id="comment-body" cols="30" rows="3"
                                placeholder="Andika hano igitekerezo cyawe" required minlength="5"
                                title="Ubutumwa burengeje inyuguti eshanu"></textarea>
                            <input type="hidden" id="comment-bot" name="for-bot" hidden="true" value="none">
                            <button class="btn btn-primary" id="">Ohereza</button>

                        </form>
                    </div>

                </div>
                <br>
                <hr>
                <div class="comment-list" id="comment-list" data-url="{% url 'blog:comments-view' pk=post.pk %}">
                    <div class="loader-div">
                        <i class="fa fa-spinner fa-spin"></i>
                        <h2>Comment loading ...</h2>
                    </div>



                </div>
                <!--<button class="btn btn-primary comment" data-url="" id="load-comment_button">Load more</button>-->
            </div>
            <aside class="sidebar" style="font-family: 'Abel';">
                {% include "layout/cat.html" %}
                <div class="category">
                    <h2>Ibyiciro</h2>
                    <ul class="category-list">
                        <li class="list-items" data-aos="fade-left" data-aos-delay="100"><i
                                class="fab fa-facebook-f"></i>
                            {% post_to_facebook object_or_url "Sangiza kuri Facebook"%}

                        </li>
                        <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                            <i class="fab fa-whatsapp"></i>
                            {% post_to_whatsapp object_or_url "Share via WhatsApp" %}

                        </li>


                    </ul>
                </div>
                <div class="popular-post">
                    <h2>Inkuru zisa niyi</h2>
                    {% for post in posts %}
                    <div class="post-content" data-aos="flip-up" data-aos-delay="200">

                        <div class="post-image">
                            <div>
                                <img src="{{post.thumbnail.url}}" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <span><i
                                        class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{post.published_date}}</span>
                                <span>{% get_hit_count for post %} Views</span>
                            </div>
                        </div>

                        <div class="post-title">
                            <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                        </div>

                    </div>
                    {% endfor%}
                </div>
                <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
                    <h2>Newsletter</h2>
                    <div class="form-element">
                        <input type="text" class="input-element" placeholder="Email">
                        <button class="btn form-btn disabled">Subscribe</button>
                    </div>
                </div>
                <div class="popular-tags">
                    <h2>Popular Tags</h2>
                    <div class="tags flex-row">
                        {% for tag in tags %}
                        <span class="tag" data-aos="flip-up" data-aos-delay="100">{{tag.title}}</span>
                        {% endfor %}
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <!-- -----------x---------- Site Content -------------x------------>

</main>

<!---------------x------------- Main Site Section ---------------x-------------->
{% endblock content %}

{% block script %}

{% load hitcount_tags %}
{% get_hit_count_js_variables for post as hitcount %}
<script>

    (function ($) {
        $.postCSRF = function (url, data, callback, type) {
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== "") {
                    var cookies = document.cookie.split(";");
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == name + "=") {
                            cookieValue = decodeURIComponent(
                                cookie.substring(name.length + 1)
                            );
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie("csrftoken");

            // shift arguments if data argument was omitted
            if ($.isFunction(data)) {
                type = type || callback;
                callback = data;
                data = undefined;
            }

            return $.ajax(
                jQuery.extend(
                    {
                        url: url,
                        type: "POST",
                        dataType: type,
                        data: data,
                        success: callback,
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        },
                    },
                    jQuery.isPlainObject(url) && url
                )
            );
        };
    })(jQuery);

    jQuery(document).ready(function ($) {
        // use the template tags in our JavaScript call
        $.postCSRF("{{ hitcount.ajax_url }}", { hitcountPK: "{{ hitcount.pk }}" })
            .done(function (data) {
                //$('.post-views').text(data.hit_counted).attr('id', 'hit-counted-value').appendTo('#post-views');

                //$('#post-views').text(data.hit_message);
                console.log(data)
            })
            .fail(function (data) {
                console.log('POST failed');
                //console.log(data);
            });
    });

</script>
<script src="/static/js/detail.js" defer></script>

{% endblock script %}