{% load static%}

<!DOCTYPE html>
<html lang="en">
{% include "layout/head.html"%}

<body id='top'>
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1><a href="{% url 'home'%}">ISANIRO</a></h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <li class="active"><a href="{% url 'home'%}">Ahabanza</a></li>
                    <li><a class="drop" href="{%url 'blog' %}">Blog</a>
                        <ul>
                            <li><a href="#">Ubuzima</a></li>
                            <li><a href="#">Urukundo</a></li>
                            <li><a href="#">Amafaranga</a></li>
                            <li><a href="#">Inama</a></li>
                        </ul>
                    </li>
                    <li><a class="drop" href="#">Serivisi</a>
                        <ul>
                            <li><a href="#">Ubwubatsi</a></li>
                            <li><a href="#coming" class="coming-soon">Gutegurirwa isoko</a></li>

                            <li><a href="#coming" class="coming-soon">Kugura ibikoresho by'ubwubatsi</a> </li>
                            <li><a href="#coming" class="coming-soon">Ubujyanama bwo kwandika</a> </li>
                        </ul>
                    </li>
                    <li><a href="#" class="coming-soon">Ibitabo</a></li>
                    <li class="videos"><a href="#">Videos</a></li>
                    <li class="search text-primary" id="search"><a href="#">Shakisha</a></li>
                </ul>
            </nav>
            <!-- ################################################################################################ -->
        </header>
    </div>
    {% block content%}
    {% endblock%}
    {% include "layout/footer.html"%}

</body>

</html>